---
layout: default
---

<main class="clearfix">
<div class="container clearfix">
<div class="col-lg-offset-3 col-lg-6 col-md-12 col-sm-12" style="margin-top:-8px">
<div class="__inbrief">
<p><span class="subtitle">Top Stories For You</span></p>
<ul>
{% for post in site.tags.[Web Design] limit: 1 %}
<li>
<p class="title">{{ post.title }}</p>
{{ post.excerpt }}
<div class="divider"></div>
<p><span class="logo">inbrief</span>&emsp;|&emsp;Updated on IST {{ post.date | date: "%H:%M" }}</p>
</li>
{% endfor %}
</ul>
<div class="spacer"></div>
<ul>
{% for post in site.tags.[simple kernel in c] limit: 1 %}
<li>
<p class="title">{{ post.title }}</p>
{{ post.excerpt }}
<div class="divider"></div>
<p><span class="logo">inbrief</span>&emsp;|&emsp;Updated on IST {{ post.date | date: "%H:%M" }} IST</p>
</li>
{% endfor %}
</ul>
</script>
</div>
</div>
</div>
</main>
